doctype html
html(lang="en")
    head
        title= `${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body
        .form-wrapper
            form(method="POST")
                label(for="name") Name
                input(type="text" name="name" required)
                label(for="city") City
                input(type="text" name="city")
                label(for="region") Region
                input(type="text" name="region")
                input(type="submit" value="Submit")
                div(style="text-align: center")
                    if axiosError
                        p(style="color: red")= `${axiosError}`
        div(style="text-align: center")
            a(href="/") Return to the homepage