@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body, * {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 1rem;
    margin-left: 0;
}

.form-wrapper {
    font-size: 18px;
    max-width: 768px;
    margin: 2rem auto;
    padding: 2rem;
    border: solid 1px lightgrey;
    border-radius: 15px;
    box-shadow: 3px 2px 6px lightgrey;
}

label, input {
    margin-top: 5px;
    display: block;
    font-size: inherit;
}

input[type="text"] {
    padding: .25rem;
}

input[type="submit"] {
    background-color: lightgrey;
    border: none;
    padding: .375rem 1rem;
    margin-top: 10px;
    cursor: pointer;
}

.container {
    max-width: 768px;
    margin: 2rem auto;
}

a.btn {
    margin-bottom: 0.5rem;
    display: inline-block;
    background-color: #020617;
    color: #fff;
    padding: 0.5rem;
    text-decoration: none;
    border-radius: 5px;
}

table.datatable {
    border-collapse: collapse;
    border: 1px solid #ccc;
    width: 100%
}

table.datatable thead {
    background-color: #777777;
    color: #fff;
}

table.datatable thead th {
    text-transform: uppercase;
    text-align: left;
    padding: 0.5rem;
    border: 1px solid #999;
}

table.datatable tbody td {
    padding: 0.5rem;
    border: 1px solid #ccc;
}

table.datatable tfoot td {
    text-align: center;
    padding: 0.25rem;
    border-width: 0;
    font-style: italic;
}